.calc{
    width: 500px; 
    height:600px;
    background-color: rgba(0, 0, 0, 0.822);
    margin-left: 25%;
    margin-top: 1%;
}
 .screen{
     width:80%;
     margin-left: 10%;
     margin-top: 10%;
     height: 50px;
 }
 .btnn{
    width:10%;
    height:45px;
    background-color:lawngreen;
    margin-left: 12%;
    margin-top: 10%; 
    font-weight: bold; 
    border-radius: 8px;
 }
 .btnn:hover {
    background-color: orangered; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .btnn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .clrscrr{
    width:76%;
    height:45px;
    background-color:rgb(253, 106, 8);
    margin-left: 12%;
    margin-top: 7%; 
    font-weight: bold; 
    border-radius: 8px;

  }
