            </div>
            <div id="footer">
                <div class="footeritems">
                    <p><u>Terms of Use</u></p>
                    <p><u>© 2020 Copyright: www.rinzcorp.com</u></p>
                    <p><u>Contact</u></p>
                    <p><u>Privacy policy</u></p>
                    <p><u>Agreements</u></p>
                </div>
            </div>     
        </div>
    </body>
</html>
