<%- include F:\python\Python\Luminar\Python_Django\NODE_JS\PMS\views\partials\header.ejs %>


<!------------------CONTENT---------------->

<div class="container">
  <br /><br /><br />
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <form name="myForm" action="employee.html" method="get" onsubmit="return addEmp()">
        <label> Employee Id:</label>
        <input type="text" name="id" id="id" required class="form-control" />
        <label>Employee Name:</label>
        <input type="text" name="name" required id="eName" class="form-control" />
        <label> Job:</label>
        <input type="text" required name="phone" id="phone" class="form-control" />

        <label>Manager:</label>
        <input type="text" name="department" id="department" required class="form-control" />
        <label>Hire Date:</label>
        <input type="text" name="id" id="prID" required class="form-control" />
        <label>Department No:</label>
        <input type="text" name="id" id="prID" required class="form-control" />
        <label>Salary:</label>
        <input type="text" name="id" id="prID" required class="form-control" />
        <label>Comments:</label>
        <input type="text" name="id" id="prID" required class="form-control" />
        <br /><br />
        <input type="submit" class="btn btn-primary" value="Submit" style="margin-left:40%;
              text-align: center;" required />
      </form>

    </div>

  </div>
</div>


<%- include F:\python\Python\Luminar\Python_Django\NODE_JS\PMS\views\partials\footer.ejs %>