<%- include ("../partials/header.ejs") %>


  <!------------------CONTENT---------------->

  <div class="container">
    <br /><br /><br />
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <form name="myForm" action="\employees\create" method="post">

          <label>Employee Name:</label>
          <input type="text" name="name" required id="name" class="form-control" />

          <label> email:</label>
          <input type="email" required name="email" id="email" class="form-control" />

          <label> Password:</label>
          <input type="password" required name="password" id="password" class="form-control" />

          <label> Usertype:</label>
          <select id="usertype" name="usertype" class="form-select">
            <option value="admin">Admin</option>
            <option value="manager">Manager</option>
            <option value="employee" selected>Employee</option>
          </select>

          <label> Designation:</label>
          <input type="text" required name="designation" id="job" class="form-control" />

          <label>Hire Date:</label>
          <input type="text" name="hireDate" id="mgr" required class="form-control" />

          <label>Salary:</label>
          <input type="text" name="salary" id="hrdte" required class="form-control" />

          <% if(data) { %>
            <label>Department:</label>
            <select class="form-select" name="departmentR">
              <% for (const i in data) { %>
                <option value="<%= data[i].id %>">
                  <%= data[i].name %>
                </option>
                <% } %>
            </select><br>
            <% } %>

              <label>Comments:</label>
              <input type="text" name="comments" id="comments" required class="form-control" />
              <br /><br />

              <input type="submit" class="btn btn-primary" value="Submit" style="margin-left:40%; background-color: rgb(36, 85, 95);
              text-align: center;" required />

        </form>

      </div>
      <div class="col-3"></div>
    </div>
  </div>

  <%- include ("../partials/footer.ejs") %>