        <br><br><br>

        <div id="fixedfooter" style="background-color:rgb(22, 40, 44);
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        color: rgb(232, 233, 232);
        font-size: 12px;
        padding: 8px;">© RinzCorp. All Rights Reserved.</div>


        </body>

        </html>